body {
    padding-top: 30px;
    margin: auto;/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
#page-wrap {
     width: 800px;
     margin: 0 auto;
}
p {
    font-size: 16px;
    display: block;
    margin: auto;
}
h1 {
    font-family: Georgia, Arial;
    font-size: 48px;
}
footer {
    margin: 50px 0;
}

.row{
	display: flex;
    justify-content: center;
    align-items: center;
}
.header-image1{
    display: block;
    width: 100%;
    text-align: center;
    background: url("molepier.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header-image2{
    display: block;
    width: 100%;
    text-align: center;
    background: url("noryauyos.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header-image3{
    display: block;
    width: 100%;
    text-align: center;
    background: url("yamp.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header-image4{
    display: block;
    width: 100%;
    text-align: center;
    background: url("zorzor.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 80px;
    font-family: Georgia, Arial;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 48px;
    font-family: Georgia, Arial;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

img {
	width: auto;
	max-width: 100%;
    height: auto;
	display: block;
    margin: auto
}

p {
	padding: 10px;
}

/* nav bar list not in dropdown hover*/
.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFFFFF !important;
}

/* Dropdown Button */
.dropbtn {
    background-color: #222222;
    color: #9D9D9D;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	z-index:9999999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #9D9D9D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #FFFFFF}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #222222;
}

.leaflet-control-defaultextent {

}

.leaflet-control-defaultextent-toggle {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('leaflet.defaultextent.png');
  width: 26px;
  height: 26px;
  display: block;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

