.wrapper {
	width: 1080px;
	margin: 0 auto;
}
/* Body Styling properties example */
body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.mapInstructions {
	background-color: grey;
	color: white;
	text-align: center;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
    margin-top: auto;
	box-shadow: 1px 1px 5px #888888;
	border-radius: 5px;

}
#map {
    background:white;display: block;
    position: relative;
	height: 500px;
	width: 1080px;
    bottom:0;
    top:0;
    margin-left: auto;
	margin-right: auto;
    margin-top: 20px; /* adjust top margin to your header height */
}

img {
	width: 50%;
max-width: 100%;
    height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto
}

p {
	padding: 10px;
}
h1 {
	font-style: oblique;
	font-size:48px;
}

h3 {
	font-family: 'Franklin Gothic', sans-serif;
	font-size:24px;
}

a {
	color: #C26941;
}

a:hover {
	color: #333333;
}

.navbar {
	position: relative;
}
.navbar-fixed-top {
	height: 75px;
	display: inherit;
}
/* title color*/
.navbar-inverse .navbar-brand {
    color: #FBE7D7;
    font-size: 48px;
	padding: 24px !important;
}
/* nav bar background*/
.navbar-inverse {
	background-color: #FF0000;
	border-color: #FF0000;
	-webkit-box-shadow: 1px 1px 5px #000;
}

/* nav bar list not in dropdown*/
.navbar-inverse .navbar-nav>li>a {
	color: #FBE7D7;
}
/* nav bar list not in dropdown hover*/
.navbar-inverse .navbar-nav>li>a:hover {
	color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #FF0000;
    color: #FBE7D7;
    padding: 16px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	z-index:9999999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #FBE7D7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #7F2626}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #7F2626;
}

.leaflet-control-defaultextent {

}

.leaflet-control-defaultextent-toggle {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('leaflet.defaultextent.png');
  width: 26px;
  height: 26px;
  display: block;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .leaflet-control-defaultextent-toggle {
        background-image: url('leaflet.defaultextent@2X.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
    }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

