/* Body Styling properties example */
body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
	font-size: 16px;
}
#map {
    background:white;display: block;
    position:relative;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; /* adjust top margin to your header height */
}

p {
	padding: 10px;
}
h1 {
	font-style: oblique;
	font-size:48px;
}

h3 {
	font-family: 'Franklin Gothic', sans-serif;
	font-size:24px;
}

a {
	color: #C26941;
}

a:hover {
	color: #333333;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 36px;
}

.navbar-inverse {
	background-color: #10756A;
	border-color: #666666;
	-webkit-box-shadow: 1px 1px 7px #000;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FF9C70;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #999999;
}

/* Dropdown Button */
.dropbtn {
    background-color: #10756A;
    color: #FF9C70;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}